*{
    box-sizing: border-box;
}
body{
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

.quiz-container{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px ;
    overflow: hidden;
    width: 500px;
    max-width: 100%;
}

.quiz-header{
    padding: 4rem;
}

h2{
    padding: 1 rem;
    text-align: center;
    margin: 0;
}
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 1.2rem;
    margin: 1rem 0;
}

ul li label {
    cursor: pointer;
}
button{
    background-color: #8e44ad;
    border: none;
    color: white;
    cursor: pointer;
    display: block;
    font-family: inherit;
    width: 100%;
    font-size: 2 rem;
    padding: 2 rem;
}
button:hover{
    background-color: #732d91;
}